# .env template file

# Create a .env file, using this file as a template, 
# which will hold the MQTT credentials that Node_RED will use

# HIVEMQ USERNAME/PASSWORD
HIVEMQ_USERNAME=my_username
HIVEMQ_PASSWORD=my_password
